.initiativeZone {
  width: 20%;
  border: 2px solid black;
}

.initiativeCol {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  align-items: center;
  height: 97%;
}

.initiativeRow {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  padding: 5px;
  width: 284px;
  overflow-y: auto;
}
