.battlefieldZone {
  border: 2px solid black;
  width: 65%;
  height: 90vh;

  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.battlefieldCol {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 10px;
  gap: 5px;
  border: 2px solid black;
  width: 100%;
  align-items: center;
}

.battlefieldRow {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  padding: 5px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
